# Simple CNN模型配置
# configs/models/simple_cnn.yaml

name: "MNIST_CNN"
description: "MNIST CNN分类模型"

params:
  num_classes: 10

architecture:
  type: "cnn"
  layers:
    - type: "conv2d"
      in_channels: 1
      out_channels: 32
      kernel_size: 3
      padding: 1
    - type: "relu"
    - type: "conv2d"
      in_channels: 32
      out_channels: 64
      kernel_size: 3
      padding: 1
    - type: "relu"
    - type: "maxpool2d"
      kernel_size: 2
    - type: "dropout"
      p: 0.25
    - type: "flatten"
    - type: "linear"
      in_features: 12544  # 64 * 14 * 14
      out_features: 128
    - type: "relu"
    - type: "dropout"
      p: 0.5
    - type: "linear"
      in_features: 128
      out_features: 10

training:
  criterion: "cross_entropy"
  optimizer: "sgd"
  optimizer_params:
    lr: 0.01
    momentum: 0.9
